
    <form method="POST" action="BugunuYaz">
    <div class="form-group">
        <label for="exampleFormControlInput1">Başlık</label>
        <input type="text" name="inputbaslik" class="form-control" id="inputbaslik" 
        placeholder="Lütfen bir başlık giriniz.">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Icerik</label>
        <textarea class="form-control"name="inputicerik" id="inputicerik" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
        

    </form>