@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>GÜNLÜK YAZMAK ARTIK ÇOK KOLAY </h1>
    <p>
        BU DÖNEMDE KALEM KAĞIT MI KALDI DİYORSUN ? İŞTE ARADIĞIN SİTE TAM DA BURASI İSTER DIŞARDA İSTER EVDE
        KELİMELERİNİ SENDE BIRAK AKIŞA TESLİM OL. ARAMIZA HOŞGELDİN.
    </p>
    </div>
   